@{
    ViewBag.Title = "CountryMaster";
    Layout = "~/Views/Shared/NewMaster.cshtml";
}
<style type="text/css">
    .ui-jqgrid .ui-pg-input {
        width: 30px;
    }

    .ui-jqgrid .ui-pg-selbox {
        width: 50px;
        height: 23px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#CountryMaster').jqGrid({
            url: '@Url.Content("~/Masters/CountryMasterJqGrid")',
            datatype: 'Json',
            type: 'GET',
            autowidth: true,
            height: 300,
            colNames: ['Id', 'Country Code', 'Country Name', 'Sector Code'],
            colModel: [
            { name: 'Id', index: 'Id', hidden: true, key: true },
            { name: 'CountryCode', index: 'CountryCode', editable: true },
            { name: 'CountryName', index: 'CountryName', editable: true },
            { name: 'SectorCode', index: 'SectorCode', editable: true },
            ],
            rowNum: 20000,
            rowList: [], // disable page size dropdown
            pgbuttons: false, // disable page control like next, back button
            pgtext: null, // disable pager text like 'Page 0 of 10'
            sortname: 'Id',
            sortorder: 'Asc',
            pager: '#CountryMasterPager',
            multiselect: true,
            viewrecords: true,
            caption: '&nbsp;<i class="icon-th-list"></i>&nbsp;Country List'

        });
        $('#CountryMaster').jqGrid('filterToolbar', { searchOnEnter: true });

        jQuery("#CountryMaster").jqGrid('navGrid', '#CountryMasterPager', { add: true, edit: false, del: true, search: false, refresh: true },
        //Edit options
            { width: 'auto', url: '@Url.Content("~/Masters/EditCountryMasterDetails/")', left: '10%', top: '10%', height: '50%', width: 400 },
        //Add options
            { width: 'auto', url: '@Url.Content("~/Masters/AddCountryMasterDetails/")', left: '10%', top: '10%', height: '50%', width: 400 },
        //Delete options
            //{width: 'auto', url: '/Masters/DeleteCountryMasterDetails/', left: '10%', top: '10%', height: '50%', width: 400, beforeShowForm: function (params) { var gsr = $("#CountryMaster").getGridParam('selrow'); var sdata = $("#CountryMaster").getRowData(gsr); return { Id: sdata.Id} } });
                   {
                       width: 'auto', url: '@Url.Content("~/Masters/DeleteCountryMasterDetails/")', left: '10%', top: '10%', height: '50%', width: 400,
                       beforeShowForm: function (params) { selectedrows = $("#CountryMaster").jqGrid("getGridParam", "selarrrow"); return { Id: selectedrows } }
                   });

    });
</script>
<table width="100%">
    <tr>
        <td>
            <table id="CountryMaster">
            </table>
            <div id="CountryMasterPager">
            </div>
        </td>
    </tr>
</table>


