@{
    ViewBag.Title = "Sector";
    Layout = "~/Views/Shared/NewMaster.cshtml";
}
<style type="text/css">
    .ui-jqgrid .ui-pg-input
    {
        width: 30px;
    }
    .ui-jqgrid .ui-pg-selbox
    {
        width: 50px;
        height: 23px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#SectorMaster').jqGrid({
            url: '@Url.Content("~/Masters/SectorMasterJqGrid")',
            datatype: 'Json',
            type: 'GET',
            autowidth: true,
            height: 300,
            colNames: ['Id', 'Sector Code', 'Sector Name', 'Description', 'Location'],
            colModel: [
            { name: 'Id', index: 'Id', hidden: true, key: true },
            { name: 'SectorCode', index: 'SectorCode', editable: true },
            { name: 'SectorName', index: 'SectorName', editable: true },
            { name: 'Description', index: 'Description', editable: true},
              { name: 'Location', index: 'Location', editable: true },
            ],
            rowNum: 20000,
            rowList: [], // disable page size dropdown
            pgbuttons: false, // disable page control like next, back button
            pgtext: null, // disable pager text like 'Page 0 of 10'
            sortname: 'Id',
            sortorder: 'Asc',
            pager: '#SectorMasterPager',
            multiselect: true,
            viewrecords: true,
            shrinktofit: true,
            caption: '&nbsp;<i class="icon-th-list"></i>&nbsp;Sector List'
            
        });
        $('#SectorMaster').jqGrid('filterToolbar', { searchOnEnter: true });
        jQuery("#SectorMaster").jqGrid('navGrid', '#SectorMasterPager', { add: true, edit: false, del: true, search: false, refresh: true },
        //Edit options
            {width: 'auto', url: '@Url.Content("~/Masters/EditSectorMaster/")', left: '10%', top: '10%', height: '50%', width: 400 },
        //Add options
            {width: 'auto', url: '@Url.Content("~/Masters/AddSectorMaster/")', left: '10%', top: '10%', height: '50%', width: 400 },
        //Delete options
        //{width: 'auto', url: '/Masters/DeleteSectorMaster/', left: '10%', top: '10%', height: '50%', width: 400,beforeShowForm: function (params) { var gsr = $("#ContingentMaster").getGridParam('selrow'); var sdata = $("#ContingentMaster").getRowData(gsr); return { Id: sdata.Id} } }
            {width: 'auto', url: '@Url.Content("~/Masters/DeleteSectorMaster/")', left: '10%', top: '10%', height: '50%', width: 400,
            beforeShowForm: function (params) { selectedrows = $("#SectorMaster").jqGrid("getGridParam", "selarrrow"); return { Id: selectedrows} }
        });
    });
</script>
<table width="100%">
<tr>
<td>
<table id="SectorMaster">
</table>
<div id="SectorMasterPager">
</div>
</td>
</tr>
</table>

