@{
    ViewBag.Title = "Get Password";
    Layout = "~/Views/Shared/NewMaster.cshtml";
}
<h3>User Password Details</h3>
<script type="text/javascript">
    $(document).ready(function () {

        $("#UserList").jqGrid({
            url: '@Url.Content("~/Account/GetPasswordJqGrid")',
            datatype: 'json',
            type: 'GET',
            colNames: ['User Id', 'Password'],
            colModel: [
                      { name: 'UserId', index: 'UserId'  },
                      { name: 'Password', index: 'Password'  }
                     ],
            pager: '#UserListPager',
            rowNum: '10',
            rowList: [5, 10, 20, 50, 100, 150, 200 ],
            sortname: 'Id',
            sortorder: 'Desc',
            width: 1150,
            // autowidth: true,
            height: 250,
            viewrecords: true,
            caption: 'User List'
        });

        $('#btnsearch').click(function () {
            var userid = $('#txtsearch').val();
            $("#UserList").setGridParam(
                {
                    datatype: "json",
                    url: '@Url.Content("~/Account/GetPasswordJqGrid/")',
                    postData: { userid: userid },
                    page: 1
                }).trigger("reloadGrid");
        });

        $("#reset").click(function () {
            window.location.href = '@Url.Action("GetPassword", "Account")';
        });

        // Autocomplete Search Example....
        $("#txtsearch").autocomplete({
            source: function (request, response) {
                $.getJSON('@Url.Content("~/Account/GetUserIds")?term=' + request.term, function (data) {
                    response(data);
                });
            },
            minLength: 1,
            delay: 100
        });

    });
</script>
<table class="InnerTable" width="100%">
    <tr>
        <td>
            <table width="98%" class="WithBorderOnly">
                <tr id="srchKeyPress">
                    <td>
                    <label>Enter User Id:</label>&nbsp;&nbsp;&nbsp;
                        <input type="text" id="txtsearch" name="txtname" Class = "CSSTextBox" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" id="btnsearch" value="search" class="ui-button ui-widget ui-state-default ui-corner-all"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" id="reset" value="Reset" class="ui-button ui-widget ui-state-default ui-corner-all"/>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            <table id="UserList">
            </table>
            <div id="UserListPager">
            </div>
        </td>
    </tr>
</table>
