@{
    ViewBag.Title = "EmailConfiguration";
    Layout = "~/Views/Shared/NewMaster.cshtml";
}
<table class="WithBorderOnly" width="100%">
    <tr class="PanelHeading">
        <td colspan="6" class="PanelHeading">
            <i class="icon-chevron-right"></i>&nbsp;User Information&nbsp;
        </td>
    </tr>
    <tr>
        <td width="17%">
            <label class="lblheader">
                User Ref No</label><br />
            13
        </td>
        <td width="17%">
            <label class="lblheader">
                User Name</label><br />
            Desouza
        </td>
        <td width="17%">
            <label class="lblheader">
                User Email</label><br />
            j.desouza@xcdsys.com
        </td>
        <td width="17%">
            <label class="lblheader">
                User Status</label><br />
            Active
        </td>
        <td width="17%">
            <label class="lblheader">
                User Role</label><br />
            Admin
        </td>
        <td width="17%">
            <label class="lblheader">
                Created Date</label><br />
            01/02/2014
        </td>
    </tr>
</table>
<table>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>


