@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NewMaster.cshtml";
}

<h2>Index</h2>

<a style='color:#034af3;text-decoration:underline' href='@Url.Content("~/Invoice/ExcelTest")' target='_Blank' >Click Here to download</a>